@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}